<form id="search-form">
  <input type="text" name="query" placeholder="Search...">
  <input type="submit" value="Search">
</form>

<h1 class="head-title">Welcome to ShopStop!</h1>

<div class="cards">
  {{#each products}}
    <div class="product-card">
      <img class="product-img" src="{{this.image}}">
      <h2>{{this.name}}</h2>
      <p>{{this.description}}</p>

      <a href="/product/buy/{{this._id}}" class="btn btn-small btn-success">Buy</a>
      <a href="/product/edit/{{this._id}}" class="btn btn-small btn-warning">Edit</a>
      <a href="/product/delete/{{this._id}}" class="btn btn-small btn-danger">Delete</a>
      <a href="/category/{{this.category.name}}/products" class="btn btn-small btn-primary">More {{this.category.name}}</a>
    </div>
  {{else}}
  <p>No products</p>
  {{/each}}
</div>