extends ../layout

block content
    .container.chat-wrapper
        .wrapper.chat
            if messages
                each message in messages

                    - positionClass = message.user._id.equals(user._id)? 'right' : 'left'
                    - likedClass = message.isLiked? 'liked': ''

                    .thread-message(class=positionClass + ' ' + likedClass)
                        if message.isLink
                            a(href=message.content target='_blank')= message.content
                                if message.hasImage
                                    img.message-img(src=message.content)
                        else
                            span= message.content
                        if !message.user._id.equals(user._id)
                            if !message.isLiked || message.isLiked && message.likedUser.equals(user._id)
                                - endPoint = message.isLiked? 'dislike': 'like'
                                form(action='/message/' + message._id + '/' + endPoint method='get')
                                    input(type='submit', value=endPoint)

                    .clear
        .wrapper
            if blocked
                h2 You are blocked.
            else
                form(method='post')
                    .form-group
                        textarea#chat-form.input-field(name='content')= newMessage
                        input.btn.btn-primary(type='submit' value='Send')